<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LabTunes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8FE1C97C2196577C00FB90E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FE1C990219657A300FB90E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FE1C99B219657A300FB90E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
